<h1>Welcome back {{username}}</h1>
<h2>All your blogs:</h2>
<form action="" id="newBlog">
    <input type="text" id="title" placeholder="title">
    <textarea id="body" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>
{{#each Blogs}}
    <form action="" class="displayBlog" data-blog={{id}}>
        <h3>{{title}}</h3>
        <p>{{body}}</p>
        <h5>Creat at: {{createdAt}}</h5>
        <h5>Updated at: {{updatedAt}}</h5>
        <button>delete</button>
        <hr>
    </form>
    
{{/each}}

<script src="/js/profile.js"></script>