<h1>Welcome back {{username}}</h1>
<h2>All your blogs:</h2>
<div class="navBtn">
    <a href='/home'><button id="homeBtn" class="btn">Home</button></a>
    <button id="logoutBtn" class="btn">Log Out</button>
</div>
<form action="" id="newBlog">
    <input type="text" id="title" placeholder="title">
    <textarea id="body" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>
{{#each Blogs}}
<form action="" class="displayBlog" data-blog={{id}}>
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    <img src="{{image_url}}" alt="">
    <h5>Creat at: {{createdAt}}</h5>
    <h5>Updated at: {{updatedAt}}</h5>
    <input type="text" class="updateTitle" placeholder="Update post title">
    <input type="text" class="updateBody" placeholder="Update post body">

    <button class="updatebtn" data-blog={{id}}>update</button>
    <button class="delbtn" data-blog={{id}}>delete</button>
    <hr>
</form>

{{/each}}

<script src="/js/profile.js"></script>